.profile {
  * {
    color: white;
  }
}

.save-changes {
  margin: 20px;
  text-align: center;
}

.individual-setting {
  margin: 20px;
}

.hour-drop {
  width: 50px;
}

.individual-info {
  margin: 20px;
}

.personal-info {
  width: 80%;
}

.profile-selection {
  cursor: pointer;
}

.personal-info-entry {
  color: black;
  background-color: rgba(255, 255, 255, 1.0);
  width: 50%;
  height: 30px;
  border-radius: 4px;
  border: 0px;
  font-size: 12px;
  padding: 7px;
  margin: 0;
}