.journal-timeline { // in Journal.js component
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}

.timeline-glyph { // in Journal.js component
  font-size: 14px;
  line-height: 14px;
  height: 14px;
  color: white;
}

.timeline { // in Timeline.js component
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  // div.timeline-day {
  //   font-size: 14px;
  //   line-height: 14px;
  //   height: 14px;
  //   font-family: $major;
  // }
  * {
    color: white;
  }
}

.timeline-glyph { // in Journal.js file
  cursor: pointer;
}

.timeline-marker { // in Timeline.js file
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.timeline-weekday {
  font-size: 12px;
  font-family: $major;
}