.activity-feed {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  width: 100%;
  height: 100%;
  overflow: scroll;
  div.journey-btn {
    margin-top: 80px;
    margin-bottom: 60px;
  }
}

.streak {
  font-size: 24px;
  font-weight: 200;
  text-align: center;
}

.basic-interaction {
  width: 90%;
  height: 54px;
  min-height: 54px;
  background-color: $midLynch;
  padding: 5px;
  border-radius: $border-radius;
}

.int-date {
  font-size: 16px;
  width: 25%;
  text-align: left;
  font-weight: 100;
}

.int-summary {
  width: 50%;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
}

.int-timestamp {
  width: 25%;
  text-align: right;
  font-weight: 100;
  font-size: 14px;
}