.simeon-btn {
  font-family: $major;
  font-style: italic;
  border: 1px solid white;
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
  color: white;
  opacity: 0.9;
  width: 200px; // default
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 0;
  border-radius: $border-radius;
  font-weight: 200;
  font-size: 1.2em;
  &:link, &:hover, &:active, &:visited {
    opacity: 1.0;
    color: #fff;
  }
}

.simeon-btn-sm {
  width: 100px;
}

.simeon-btn-md {
  width: 150px;
}

.simeon-btn-lg {
  width: 200px;
}

.simeon-btn-xl {
  width: 300px;
}

.simeon-btn-primary {
  background-color: $jade;
  &:link, &:hover, &:active, &:visited {
    background-color: $jade;
  }
}

.simeon-btn-secondary {
  background-color: $cinnabar;
  &:link, &:hover, &:active, &:visited {
    background-color: $cinnabar;
  }
}

.simeon-btn-auth {
  width: 300px;
}

.simeon-btn-facebook {
  background-color: #3b5998;
}

.simeon-btn-amazon {
  background-color: #FF9900;
}

.amazon-bumper {
  margin-top: 12px;
}

.modal-btn-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.individual-setting > select {
  height: 34px;
  color: black;
  font-size: 14px;
  border: 0px;
  margin: 0 5px;
}

.analyze-btn {
  // width: 15% !important;
  position: absolute;
  left: 15px;
  bottom: 15px;
}