.intro, .bio {
  /* fallback for older browsers. */
  height: 100%;

  /* Set the height to match that of the viewport. */
  height: 100vh;

  float: left;
}

.intro {
  width: 55%;
  width: 55vw;
}

.bio {
  width: 45%;
  width: 45vw;
}

.intro {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;


  // position: absolute;
  // top: 0;
  // right: 0;
  // bottom: 0;
  // left: 0;
  background:
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      165deg,
      rgba(25, 181, 254, 0.6),
      rgba(102, 51, 153, 0.6) 
    ),
    /* bottom, image */
    url(../../images/background/westside-bw.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.intro-name {
  position: absolute;
  top: 10%;
  left: 10%;
  font-family: $major;
  font-style: italic;
  letter-spacing: 2px;
  font-size: 1.2em;
  color: white;
  // @media (min-width: 800px) {
  //   font-size: 30px;
  // }
  // @media (min-width: 1200px) {
  //   font-size: 40px;
  // }
}

.intro-inspiration {
  // position: absolute;
  // top: 30%;
  // left: 15%;
  width: 80%;
  font-family: $major;
  font-style: italic;
  // letter-spacing: 2px;
  font-size: 3.6em;
  color: white;
  line-height: 1.2em;

  transition: all ease-in .5s;
  -moz-transition: all ease-in .5s;
  -webkit-transition: all ease-in .5s;
  -o-transition: all ease-in .5s;
}

.bio {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 0.9em;
  line-height: 1.9em;
  background-color: rgb(20, 20, 20);
}

.bio div {
  width: 60%;
}

.bio-title {
  font-family: $minor;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: rgba(255, 255, 255, 0.5);

  transform : scale(1,0.95);
  -webkit-transform:scale(1,0.95); /* Safari and Chrome */
  -moz-transform:scale(1,0.95); /* Firefox */
  -ms-transform:scale(1,0.95); /* IE 9+ */
  -o-transform:scale(1,0.95); /* Opera */
}

* {-webkit-font-smoothing: antialiased;}

.bio-text {
  margin-top: 10px;
  font-family: georgia, serif;
  font-style: italic;
  font-weight: lighter;
  color: rgba(255, 255, 255, 1.0);
  // font-family: $major;
  // font-style: italic;
  // font-weight: lighter;
  letter-spacing: 0.8px;
  // color: rgb(240, 240, 240);
}












// .home-main-image {
//   // box-shadow: inset 0 100em 0 100em rgba(0,0,0,.2);
// }

// .vignette {
//   // background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.04) 0%, rgba(0,0,0,0.73) 100%);
//   // background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0.04)), color-stop(100%,rgba(0,0,0,0.73)));
//   // background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.04) 0%,rgba(0,0,0,0.73) 100%);
//   // background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.04) 0%,rgba(0,0,0,0.73) 100%);
//   // background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.04) 0%,rgba(0,0,0,0.73) 100%);
//   // background: radial-gradient(ellipse at center, rgba(0,0,0,0.04) 0%,rgba(0,0,0,0.73) 100%);  
// }

// .home-top-content-container {
//   background-color: lightgray;
// }

// div.home-jumbotron.jumbotron {
//   padding-top: 48px;
//   padding-bottom: 48px;
//   &:nth-child(odd) {
//     background-color: $midLynch
//   }
// }

// .home-banner {
//   height: 100vh;
//   min-height: 605px;
//   background-image: url("../../images/home/homepage1.jpg");
//   background-size: cover;
//   background-position: center;
// }

// .home-login-button {
//   position: absolute;
//   top: 20px;
//   right: 20px;
// }

// .home-title {
//   margin-top: 0;
//   margin-bottom: 5px;
//   padding-top: 40px;
//   text-align: center;
//   color: $darkLynch;
//   font-size: 70px;
//   font-family: $major, serif;
//   letter-spacing: 1.5px !important;
//   text-shadow: 0 0 10px rgba(255, 255, 255, .5);
// }

// .home-slogan {
//   margin-bottom: 40px;
//   font-size: 25px;
//   font-family: $minor, serif;
//   color: $darkLynch;
//   text-align: center;
//   text-shadow: 0 0 20px rgba(255, 255, 255, 1);
//   text-shadow: 0 0 20px rgba(255, 255, 255, 1);
// }

// .home-signup-form {
//   max-width: 350px;
//   margin: 0 auto;
//   padding: 10px 25px;
//   border-radius: 10px;
//   box-shadow: inset 0 0 10em 5em rgba(0,0,0,.2);
// }

// .home-section-title {
//   font-family: $minor, serif;
//   color: $porcelain;
//   margin-bottom: 17px;
// }

// .jumbo-banner {
//   background-color: transparent !important;
// }

// .home-jumbotron {
//   margin: 1px 0 !important;
//   color: $silver;
// }

// .jumbo-right-text {
//   text-align: right;
//   margin-right: 8.33333333%;
// }

// .jumbo-left-text {
//   display: block !important;
//   margin-top: 0;
//   height: 150px;
// }

// .jumbo-first {
//   margin-top: -20px !important;
// }

// label {
//   color: $midLynch;
// }