.login-modal {
  z-index: 100000001;
}

.fade {
  z-index: 100000000;
}

.login-modal-title {
  font-size: 20px;
}

.modal-dialog {
  width: 380px;
  margin-top: 16%;
}

.logal-login-button {
  padding-left: 0 !important;
}

.login-last-break {
  margin-top: 5px;
  margin-bottom: 15px;
}