.module-header {
  position: absolute;
  top: 5.5%;
  left: 5.5%;
  width: 89%;
  z-index: 9999999;
}

.module-title {
  color: $solid-nearly-black;
  font: 3.0em $major;
  font-style: italic;
  letter-spacing: 2px;
}

.module-subtitle {
  color: white;
  font: 200 1.2em $minor;
}