.nav {
  color: white;
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  width: 100vw;
  height: 20%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0 10%;
  @include for-tablet-landscape-up {
    justify-content: space-between;
  }
  &.transformed {
    animation-name: nav-shrink;
    animation-fill-mode: both;
    animation-duration: 500ms;
  }
  &.untransformed {
    animation-name: nav-enlarge;
    animation-fill-mode: both;
    animation-duration: 500ms;
  }
}

.nav-text {
  // color: white;
  font-family: $major;
  font-style: italic;
  font-weight: 100;
  margin: 0;
  cursor: pointer;
  font-size: 20px;
  display: none;
  margin: 0;
  // &.transformed {
  //   animation-name: text-darken;
  //   animation-fill-mode: both;
  //   animation-duration: 500ms;
  // }
  // &.untransformed {
  //   animation-name: text-lighten;
  //   animation-fill-mode: both;
  //   animation-duration: 500ms;
  // }
  @include for-tablet-landscape-up {
    position: relative;
    display: inline;
    margin: 20px;
    visibility: visible;
  }
}

.logo {
  margin: 0 0 0 10%;
  cursor: pointer;
  @include for-tablet-landscape-up {
    margin: 0 4% 0 10%;
  }
}

.logo-img {
  width: 70px;
  &.transformed {
    animation-name: logo-shrink;
    animation-fill-mode: both;
    animation-duration: 500ms;
  }
  &.untransformed {
    animation-name: logo-enlarge;
    animation-fill-mode: both;
    animation-duration: 500ms;
  }
  @include for-tablet-landscape-up {
  }
}

.cart {
  margin: 0 10% 0 0;
  cursor: pointer;
  width: 40px;
  @include for-tablet-landscape-up {
    margin: 0 10% 0 0
  }
}

.cart-img {
  width: 100%;
  &.transformed {
    animation-name: cart-shrink;
    animation-fill-mode: both;
    animation-duration: 500ms;
  }
  &.untransformed {
    animation-name: cart-enlarge;
    animation-fill-mode: both;
    animation-duration: 500ms;
  }
  @include for-tablet-landscape-up {
  }
}