.portfolio-module {
  position: relative;
  clear: left;
  width: 100%;
  height: 100%;
  width: 100vw;
  height: 100vh;
  background-color: $solid-nearly-black;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.portfolio-module-journey {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $solid-nearly-black;
  overflow: hidden;
  // background:
    // linear-gradient(
    //   // 165deg,
    //   $solid-nearly-black,
    //   $darkLynch
    // );
    // url(../../images/portfolio/journey/journey-artboard-lg.jpg) no-repeat center center /*fixed*/;
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    // background-size: cover;
}

.portfolio-journey-page { // journal entry page
  box-shadow: -12px 8px 5px #111;
  position: absolute;
  right: 10%;
  top: 20%;
  width: 40%;
}

.portfolio-syncope-ui {
  width: 70%;
}

.portfolio-journey-landing {
  width: 50%;
}

.portfolio-scavenge-ui {
  width: 50%;
  box-shadow: 10px 10px 5px rgba(50, 50, 50, 0.6);
}

.portfolio-memly-ui {
  width: 50%;
  box-shadow: 10px 10px 5px rgba(50, 50, 50, 0.6);
}

.portfolio-hover {
  opacity: 0.5;
  // cursor: pointer;
  &:hover {
    animation-fill-mode: both;
    animation-duration: 1s, 0.5s;
    animation-name: hover, solidify;
  }
}