// .dashboard-calendar {
//   width: 80%;
// }

.calendar {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  position: relative;
}

.calendar-svg {
  // box-sizing: initial;
  // background-color: $lynch;
}

text {
  &.month-name,
  &.calendar-heatmap-legend-text,
  &.day-initial {
    font-size: 10px;
    fill: #aaaaaa;
  }
}

.day-rects {
  fill-opacity: 0.8;
  pointer-events: all;
  cursor: pointer;
  &:hover {
    fill-opacity: 0.9;
  }
}

.glyphicon.glyphicon-triangle-bottom {
  margin-left: 4px;
  font-size: 10px;
}

.calendar-tooltip {
  position: absolute;     
  text-align: left;     
  padding: 10px;
  background: #222;
  border: 0px;
  border-radius: 5px;
  pointer-events: none;
  z-index: 9999999;
  * {
    font-size: 12px;
    color: white;
  }
  .tooltip-title {
    font-size: 16px;
    font-family: $major;
    margin-bottom: 3%;
  }
  .tooltip-subtitle {
    font-weight: 400;
    margin-bottom: 4%;
  }
  .tooltip-list-item {
  }
  .tooltip-error {
    color: $lynch;
  }
  .tooltip-category.things {
    float: left;
    width: 50%;
  }
  .tooltip-category.feelings {
    float: right;
    width: 50%;
  }
}

// http://stackoverflow.com/questions/16265123/resize-svg-when-window-is-resized-in-d3-js
// .svg-container {
//     display: inline-block;
//     position: relative;
//     width: 100%;
//     padding-bottom: 100%; /* aspect ratio */
//     vertical-align: top;
//     overflow: hidden;
// }
// .svg-content-responsive {
//     display: inline-block;
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     top: 0;
//     // top: 10px;
//     left: 0;
// }